<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title><%= site_name %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
       <!-- bower:css -->
    	<!-- endbower -->
    <link rel="stylesheet" href="styles/main.css">
</head>
<body ng-class="bodyColour" ng-controller="chromeapp-mainCntrl">
		<!-- ajax loader image -->
		<div id="loading">
			<img src="images/loader.gif" class="ajax-loader"></img>
		</div>
	
		<div ng-view class="ng-cloak"></div>
	
	
	</body>